body {
  /* background-image: linear-gradient(135deg, #71b7e6, #9b59e6);  */
  background-color: #152238;
}

btns {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 75%;
  top: 25px;
}
#home {
  margin-right: 5px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#contact {
  margin-right: 5px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#about {
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#signup {
  margin-right: 5px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#login {
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#update {
  margin-right: 5px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#showData {
  margin-right: 5px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#loginSubmit{
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
#loginSubmit [type="submit"]:hover {
  background-color: #45a049;
}
#delete_data{
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#logOut{
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

form {
  align-content: left;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
label {
  font-size: 18px;
  font-weight: bold;
}


/* table  */
tr,
td,
th {
  color: white;
  width: 300px;
  text-align: center;
  border: 2px solid #f1dac4;
  padding: 5px;
  font-size: 17px;
}

table{
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}